# node_modules
client/node_modules/
server/node_modules/
register/node_modules/
create test xml file/node_modules/

# Debug
Update C#/Update/bin/Debug/

# dist
client/dist

# exe
register/*.exe
server/www.exe
server/Picking Service.exe

#XML
server/copyXMLFiles/
server/FinishXmlFiles/
server/XMLFiles/

#log
server/log/