<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="http://127.0.0.1:8081" />
    <add key="appName" value="picking_" />
	<add key="ua" value="PickingClient_Update" />
	<add key="getVersionApi" value="/update/getVersion" />
	<add key="getModeApi" value="/update/getMode?version=" />
	<add key="getAllVersionApi" value="/update/getAllVersion" />
	<add key="Title" value="Picking Client 更新程序" />
	<add key="downloadApi" value="/download/Update" />
	  <add key="CopyrightYear" value="2022" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>